/*Stormning font*/
/*
body {
   font-family: 'StormningRegular';
   font-weight: normal;
   font-style: normal;

   font-size: 5rem;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

section {
    border: 0.1rem solid black;
    display: flex;
}

.left {
    flex: 0.9;
    position: relative;
    background-image: url(pics/bg-image-halie_west.avif);
    background-position: center;
    height: 1000px;
}

.right {
    flex: 2;
}

.overlay {
    position: absolute;
    top: 22vh;
    height: 16vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}
