@font-face {
    font-family: "Norse Bold";
    src: url(norse/Norsebold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

section {
    border: 0.1rem solid black;
    display: flex;
}

.left {
    flex: 0.9;
    position: relative;
    background-image: url(pics/bg-image-halie_west.avif);
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    height: 100vh;
}

.right {
    flex: 2;
}

.overlay {
    position: absolute;
    top: 22vh;
    height: 16vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22vh;
    height: 16vh;
    width: 100%;
    font-family: "Norse Bold";
    font-size: 10vh;
    color: white;

    /*border: 1px solid blue;*/
}

#odin-logo {
    height: 13vh;
    width: auto;
}

.credits {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 96vh;
    width: 100%;
    color: white;
    font-family: sans-serif, 'Roboto', system-ui;
    gap: 0.3rem;
}

a {
    color: white;
    font-family: sans-serif, 'Roboto', system-ui;
}